/* remove increment and decrement btn from input number */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.dt-length select {
    margin-right: 5px !important;
}

.d-flex-item-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.form-label {
    font-size: 12px !important;
}

.text-xs {
    font-size: 12px !important;
}

.btn-fit {
    width: 4.5rem !important;
    height: fit-content !important;
}

.w-max-content {
    width: max-content;
}

.font-semibold {
    font-weight: 600;
}

.form-control-red {
    border-color: #cb1100;
    box-shadow: 0 0 0 0.25rem rgb(234 11 11 / 45%) !important;
}

.text-blue {
    color: rgb(45, 45, 160)44;
}

.required::after {
    content: " *";
    color: red;
    font-weight: bold;
}

.optional::after {
    content: " (optional)";
    color: #999;
    font-weight: normal;
}

.print {
    color: #ffffff !important;
}

.tk::after {
    content: "৳";
    color: #000;
    font-weight: normal;
}

.underline-none {
    text-decoration: none;
}

.underline {
    height: 3px;
    width: fit-content;
    background: #969696;
}

.font-semibold {
    font-weight: 600;
}


.register-msg-box {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: auto;
    padding: 10px 0;
}

.cursor-pointer {
    cursor: pointer;
}


.text-cyan {
    color: cyan;
}



.form-select {
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.relative {
    position: relative;
}


table.dataTable tbody tr.selected {
    background-color: #d3e2ff !important;
    /* Light blue */
    color: #000;
    /* Optional: Change text color */
}

.absolute {
    position: absolute;
}

.dataTables_length .custom-select {
    width: 4rem !important;
}


.select2-container--default .select2-selection--single .select2-selection__rendered {

    margin-top: -8px !important;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    position: relative !important;
    width: fit-content;
}

.nav-tabs .nav-link.active::before,
.nav-tabs .nav-item.show .nav-link::before {
    content: '';
    background-color: var(--setColor) !important;
    height: 4px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.profile-container {
    width: 50% !important;
}

.h-fit {
    height: fit-content !important;
}

.underline-none {
    text-decoration: none;
}


.register-box {
    width: auto !important;
    padding: 0 10px;
}


.reset-password-box {
    width: auto !important;
    padding: 0 10px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

.h-30px {
    height: 30px;
}

.btn-cyan {
    background-color: #2c9795 !important;
    color: #ffffff !important;
}

.btn-cyan:hover {
    background-color: #1e7a79 !important;
    color: #ffffff !important;
}

.btn-brown {
    background-color: #85221d !important;
    color: #ffffff !important;
}

.btn-brown:hover {
    background-color: #6c130e !important;
    color: #ffffff !important;
}

.w-fill {
    width: -webkit-fill-available !important;
}


.h-full {
    height: 100%;
}

.h-auto {
    height: auto;
}

.btn-add {
    background-color: #1d7985 !important;
    color: #ffffff !important;
    width: auto;
}

.btn-assign-stock {
    background-color: #2d1d85 !important;
    color: #ffffff !important;
    width: auto !important;
}

.btn-remove {
    background-color: #ce1800 !important;
    color: #ffffff !important;
    width: auto;
}

.btn-remove:hover {
    background-color: #841709 !important;
}

.w-inherit {
    width: inherit !important;
}

.w-20 {
    width: 20% !important;
}

.w-3 {
    width: 1.5rem !important;
}

.w-8rem {
    width: 8rem !important;
}

.w-10rem {
    width: 10rem !important;
}

.text-semibold {
    font-weight: 700 !important;
}

.font-base {
    font-size: 14px !important;
}

.text-base {
    font-size: 14px !important;
}

.text-green {
    color: #00572f;
}

.grand-total {
    display: flex;
    margin-top: 12px;
    width: -webkit-fill-available;
    justify-content: end;
}

.w-80 {
    width: 80% !important;
}

.btn-add:hover {
    background-color: #0c606b !important;
    color: #ffffff !important;
}

.btn-navy {
    background-color: #0b3f72 !important;
    color: #ffffff !important;
    width: auto;
}

.btn-navy:hover {
    background-color: #001121 !important;
    color: #ffffff !important;
}


.add-new-sub-btn-bg-success {
    --bs-bg-opacity: 1;
    background-color: #198754 !important;
    color: white !important;
}

.addNewSubCategoryBtn:hover~.add-new-sub-btn-bg-success:hover {
    background-color: #00572f !important;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.timeline>div>.timeline-item-add-new {
    border-radius: .25rem;
    color: #495057;
    margin-left: 60px;
    margin-right: 15px;
    margin-top: 0;
    padding: 0;
    position: relative;
}

.timeline>div>.timeline-item-add-new h3 {
    font-size: 18px !important;
    padding: 10px;
    border-radius: 5px;
}

.h-2 {
    height: 2rem !important;
}

.w-2 {
    width: 2rem !important;
}

.timeline>div>.timeline-item-add-new>div {
    background: #000;
    box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
    border-radius: .25rem;
    background-color: #fff;
    color: #495057;
    padding: 5px 10px;
}


.btn-teal {
    background-color: #14AB9B !important;
    color: #ffffff !important;
}

.btn-purple {
    background-color: #8E56E0 !important;
    color: #ffffff !important;
}


.d-flex-centerd {
    display: flex;
    justify-content: center;
    align-items: center;
}


.add-new-sub-btn-bg-success:hover {
    background-color: #00572f !important;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.add_new_product_details_btn_container {
    display: flex;
}

.add_new_product_details_btn_container button {
    margin: 0 10px 10px 0;
}

.add_new_product_details_btn_container a {
    margin-bottom: 15px;
}

.form-select-red {
    box-shadow: 0 0 0 0.25rem rgba(245, 22, 22, 0.25);
}

.form-select-green {
    box-shadow: 0 0 0 0.25rem rgba(18, 127, 8, 0.25);
}




.relative {
    position: relative !important;
}

.absolute {
    position: absolute !important;
}

.company-logo,
.image-preview {
    height: 150px;
    width: auto !important;
}


.colored-toast.swal2-icon-success {
    background-color: #2baf81 !important;
}

.colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
}

.colored-toast .swal2-title {
    color: white;
}

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-html-container {
    color: white;
}

button {
    color: #ffffff !important;
}

.logo-upload-btn {
    border: 1px solid rgb(222, 226, 230) !important;
    font-weight: 400 !important;
    color: #7f7f7f !important;
}

.text-white {
    color: #ffffff;
}



/* tour and tips */
.tips_skips_container .modal-header {
    background: #031931;
    height: 15px;
}

.tips_skips_container .title {
    color: #ffffff !important;
    display: flex;
    margin: 6px 0 0 0;
    align-items: center !important;
    justify-content: center;
    width: -webkit-fill-available;
    position: relative;
}

.tips_skips_container .title button {
    margin-bottom: 6px;
    position: absolute !important;
    right: 6px;
    top: -2px !important;
}

.tips_skips_container .modal-body {
    background: #A5C6D8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tips_skips_container .modal-body img {
    height: 60px !important;
    width: 60px !important;
}

.tips_skips_container .modal-body .welcome_inventory {
    font-weight: bold !important;
    text-shadow: #001121 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.tips_skips_container .modal-body p {
    padding: 10px 0;
    font-size: 16px;
    text-shadow: #9f9f9f !important;
    text-align: justify !important;
}

.tips_skips_container .modal-body b {
    font-weight: bold !important;
}

.btn-no-thanks {
    background: transparent !important;
    color: #174a63 !important;
    font-size: 14px !important;
    font-weight: 700 !important;
}

.tips_skips_container .modal-body .btn-container {
    display: flex !important;
    flex-direction: column;
    color: #3BB5A0 !important;
}

.btn-guided-tour {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    /* Text color */
    background-color: #031931;
    /* Button background color */
    border: none;
    border-radius: 5px;
    /* Rounded corners */
    text-decoration: none;
    /* Remove underline from link */
    transition: background-color 0.3s, transform 0.3s;
    /* Smooth transition */
}

.btn-no-thanks:hover {
    transform: scale(1.05);
    /* Slightly enlarge the button */
    text-decoration: underline;
    ;
}

.btn-guided-tour:hover {
    background-color: #0295c9;
    /* Lighter blue on hover */
    transform: scale(1.05);
    /* Slightly enlarge the button */
}

.btn-no-thanks:active,
.btn-guided-tour:active {
    transform: scale(0.95);
    /* Slightly shrink the button when active */
}





:root {
    --tooltip-bg-color: #06BED7;
    --tooltip-text-color: #000000;
    --tooltip-btn-border-color: #000000;
    --tooltip-btn-bg-color: #000000;
    --tooltip-btn-text-color: #000000;
    --tooltip-btn-hover-text-color: #ffffff;
}

.tour-tips {
    position: absolute;
    top: var(--top);
    left: var(--left);
    z-index: 99999999;
    transition: all 0.5s ease-in-out;
}

.hidden {
    display: none !important;
}

.block {
    display: block !important;
}

.hand {
    height: 50px;
    width: 50px;
    animation: animatePopAndDown 1s infinite;
}





.purchase_payment_supplier_based_card.active,
.purchase_payment_invoice_based_card.active {
    position: absolute;
    border: 3px red solid;
    height: 100%;
    width: 100%;
    animation: heightHanlde 2s linear 1;
}

.tooltip-content {
    position: absolute;
    bottom: -2.5rem;
    text-align: center;
    margin-left: 2rem;
    height: fit-content;
    width: fit-content;
    background: #000;
    padding: 2px 10px;
    border-radius: 10px;
    color: #fff;
}

.tooltip-content i {
    position: relative;
    top: -12px;
    font-size: 20px;
    color: black !important;

}

.typing-text {
    font-family: 'Courier', monospace;
    /* Monospace font for typewriter effect */
    white-space: nowrap;
    /* Prevents the text from wrapping */
    overflow: hidden;
    /* Ensures content is clipped when it overflows */
    border-right: 2px solid;
    /* Creates the cursor effect */
    width: 100%;
    /* Start with no width */
    animation: typing 4s steps(50, end), blink 0.75s step-end infinite;
}

/* Typing effect */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* Blinking cursor effect */
@keyframes blink {
    50% {
        border-color: transparent;
    }
}



@keyframes heightHanlde {
    0% {
        height: 0%;
        width: 0%;
    }

    100% {
        height: 100%;
        width: 100%;
    }
}

@keyframes animatePopAndDown {
    0% {
        transform: scale(1.5);
        /* Start slightly smaller */
    }

    100% {
        transform: scale(1);
        /* Normal size */
    }
}


.tour-tips-box {
    border-radius: 10px;
    left: 5rem;
    position: relative;
    top: -2.5rem;
}

.tour-tips-box .content {
    background: var(--tooltip-bg-color);
    color: var(--tooltip-text-color);
    padding: 10px;
    border-radius: 10px;
}





.tour-tips-box-text::after {
    content: '\f0d7';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: var(--tooltip-bg-color);
    margin-left: 15px;
    font-size: 30px;
    position: relative;
    top: -23px;
}

.btn-next,
.btn-skip {
    padding: 0 10px;
    border: 1px solid var(--tooltip-btn-border-color);
    border-radius: 10%;
    font-size: 12px;
    margin: 0 5px;
    color: var(--tooltip-btn-text-color);
}

.btn-next:hover,
.btn-skip:hover {
    background: var(--tooltip-btn-bg-color);
    color: var(--tooltip-btn-hover-text-color);
}


.icon-btn {
    display: inline-block;
    color: #212529;
    background-color: #E9ECEF;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.addNewModalBtn {
    margin-top: 30px;
}

.addNewModalBtn i{
    color: #198754;
}

.addNewModalBtn:hover i{
    color: #ffffff;
}


/* media tag devices:start */
/*  320px — 480px: Mobile devices */
@media screen and (min-width: 320px) and (max-width: 480px) {
    .profile-container {
        width: 100% !important;
    }


    .addNewModalBtn {
        margin-top: 2px;
    }
}

/* 481px — 768px: iPads, Tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .profile-container {
        width: 100% !important;
    }

    .addNewModalBtn {
        margin-top: 2px;
    }
}


@media only screen and (min-width:590px) {
    .register-box {
        width: 690px !important;
        padding: 0;
    }

    .reset-password-box {
        width: 690px !important;
        padding: 0 10px;
    }

    .profile-container {
        width: 100% !important;
    }

}


@media only screen and (min-width:767px) {
    .add_new_product_details_btn_container {
        display: inline-block;
        margin-top: 18px;
    }

    .add_new_product_details_btn_container button {
        margin: 10px auto auto auto;
    }

    .profile-container {
        width: 100% !important;
    }

}

/* 768px iPads, Tablets */
@media only screen and (min-width: 768px) {
    .profile-container {
        width: 100% !important;
    }
}

/* 769px — 1024px: Small screens, laptops */
@media screen and (min-width: 769px) and (max-width: 991px) {
    .addNewModalBtn {
        margin-top: 2px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .profile-container {
        width: 100% !important;
    }

}

/* 1025px — 1200px: Desktops, large screens */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .profile-container {
        width: 90% !important;
    }
}

/* 1201px and more —  Extra large screens, TV */
@media screen and (min-width: 1201px) {
    .product_customization_note_amount {
        display: flex;
        justify-content: space-between;
        width: 100%
    }

    .product_customization_note {
        width: 100%;
        margin-right: 2rem;
    }

    .profile-container {
        width: 50% !important;
    }
}

/* media tag devices:end */
